<div class="container__big-card">
  <div class="big-card__photo">
      <img
        src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        alt=""
        height="272px"
      >
  </div>

  <div class="big-card__tittle">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nunc et nisi dapibus lorem imperdiet ultricies.
      Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nunc sit amet dui felis. Nam tincidunt lectus
      vel nisi sagittis gravida.
    </a> </p>
  </div>

</div>
