<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    id="1"
    photoCover='\bigcard.jpeg'
    cardTitle="Izabela Gaspari"
    cardDescription="Tenho 25 anos, já fiz faculdade de engenharia, tranquei e atualmente estou na área de tecnologia, gosto muito da parte de dados e..."
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    id="2"
    cardTitle="Sou formada em ADS, pela Fundação Santo André e atualmente curso Ciência de Dados e IA"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2LJXARGJ7lr9h0g_biT8gIeUqjQNktHmOWA&s"
    >
    </app-small-card>

    <app-small-card
    id="3"
    cardTitle="Atualmente faço estágio em Dados no Sebrae SP"
    photoCover="https://upload.wikimedia.org/wikipedia/commons/d/d9/Sebrae.svg"
    >
    </app-small-card>

    <app-small-card
    id="4"
    cardTitle="Estou em busca da minha vaga na Avanade!"
    photoCover="https://cdn.cookielaw.org/logos/bf278563-ac10-417f-8f6f-7b51998dc338/acadaa94-4723-4fc6-9d15-0d7316561595/7c1243eb-e96c-4d72-b8b3-7e676efd5e1f/AvanadeLogoNoTM_AWColor_RGB.png"
    >
    </app-small-card>

  </div>

</div>
